/* Общие стили */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
}

/* Шапка */
/* Навигация шапки */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.menu-nav {
    list-style: none;
    width: 100%;
    background-color: #F4F4F4;
    height: 33px;
    width: auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
}

.logo {
    width: 63px;
    height: auto;
}

.header-top {
    padding: 10px 113px 0px 113px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-menu-nav {
    display: flex;
    gap: 23px;
    padding: 0 10px;
}

.secondary-menu-nav {
    display: flex;
    gap: 21px;
    padding: 0 11.5px;
}

.telephone-sign {
    width: 24px;
    height: auto;
}

.telephone-number-link {
    min-width: 112px;
    text-decoration: none;
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
}

.main-menu-list {
    display: flex;
    gap: 200px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 25px;
}

.telephone-number {
    display: flex;
    gap: 6px;
    align-items: center;
}

.feedback-button {
    height: 36px;
    width: fit-content;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;
}

.arrow {
    width: 13.33981513977052px;
}

/* Основная часть шапки */

.header-center {
    padding: 0 64px;
    display: flex;
    flex-direction: column;
}

.main-text {
    position: relative;
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 500;
}
 .img-star {
    width: 19px;
    height: auto;
}

.bold-text {
    color: var(--main-text-color);
}

h4 {
    color: var(--paragraph-text-color);
}

.img-map-earth {
    width: 81px;
    height: auto;
    background: linear-gradient(90deg, #0C47A0 0%, #8FECFC 100%);
    border-radius: 30px;
    padding: 2px;
}

.main-text-container {
    display: flex;
    gap: 300px;
    margin-bottom: 30px;
}

.main-text::after {
    content: '';
    display: inline-block;
    background-image: url('../images/map-sign.svg');
    width: 41.74px;
    height: 41.74px;
    margin-left: 10px;
}

.mini-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/card1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 728px;
    height: 348px;
    border-radius: 30px;
    padding: 15px 19px 10px 19px;
}

.card-number {
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 10.5px 0 0 10.5px;
    font-weight: 700;
    margin: 72px 13px 10px 0px;
}

.card-main-number {
    margin: 0;
}

.main-theme {
    color: #fff;
    font-size: 20px;
}

.main-theme::before {
    content: '';
    margin-bottom: -6px;
    background-image: url('../images/loading.png');
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-right: 9px;
}

.specializations-container {
    display: flex;
    color: #fff;
    gap: 8px;
    flex-wrap: wrap;
}

.specialization {
    background-color: #144177;
    border: 1px solid #fff;
    border-radius: 14px;
    line-height: 150%;
    padding: 4.5px 9px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
}

.specialization:not(:last-child):after {
    background-color: #fff;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right:-9px;
    top: 11px;
}

/* удаление точки после третьей карточки */
.specialization:nth-child(4n):after {
    display: none;
}

.main-card .bottom-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cards {
    display: flex;
    gap: 10px;
}

.text-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-number-active {
    margin: 0;
}

.blue-card {
    background-color: var(--main-color);
    width: 70px;
    border-radius: 30px;
}

.card-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-services .card-number {
    margin-left: 13px;
}

.service {
    transform: rotate(-90deg);
    color: #fff;
    margin-top: 150px;
}

.advantages {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 20px;
}

.magnifier-container {
    background-color: #fff;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    padding: 15.5px;
}

.white-blue-card {
    background-color: #A5C6F6;
    width: 70px;
    border-radius: 30px;
}

.start-card {
    width: 252px;
    background-image: url('../images/start-card.png');
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphic-info {
    display: flex;
    justify-content: space-between;
}

.overlay {
    background-color: rgba(2, 75, 186, 0.26);
    border-radius: 30px;
    margin: 16px;
    height: 90%;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 34.01px rgba(255, 255, 255, 0.05),
                inset 0 2.27px 2.27px rgba(255, 255, 255, 0.15);
    position: relative;
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.name-card {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.card-info {
    color: #fff;
    font-size: 14px;
}

.card .bottom-information {
    margin-left: 13px;
    margin-bottom: 10px;
}

.more-info {
    background-color: #fff;
    border-radius: 16px;
    padding: 7.5px 10px;
}

.magnifier {
    width: 42px;
}

.advantages-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 150%;
}

/* Нижняя часть шапки */

.offer-image {
    width: 28px;
    margin: 14px;
}

.header-bottom {
    display: flex;
    gap: 75px;
}

.offers {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

h3 {
    font-size: 36px;
}

.go-audit {
    width: 285px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-image-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid #fff 1px; 
}

.offer-container {
    background-color: var(--offers-info-background);
    width: 211px;
    height: 119px;
    border-radius: 30px;
    padding: 30px 25px;
    display: flex;
    gap: 12px;
}

.offer-text-main {
    font-size: 14px;
}

.offer-text-number {
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main-advantages {
    padding: 50px 64px 0 64px;
}

.blue-text {
    color: var(--main-color);
}

.text-advantages {
    font-size: 18px;
}

.advertisement-text {
    font-size: 74px;
    width: 636px;
}

.main-advantages-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-advantages-info {
    width: 408px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.main-advantages-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.advantages-image {
    width: 418px;
    height: 637px;
    padding: 41px 39px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.radial-bottom::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    background: radial-gradient(circle at bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.7) 100% );
}

.radial-bottom .number-card{
    color: #000;
    border: #000 solid 1px;
}

.radial-top::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    background: radial-gradient(circle at top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.7) 100% );
}

.card-1 {
    background-image: url('../images/card-1.png');
}

.card-2 {
    background-image: url('../images/card-2.png');
    flex-direction: column-reverse;
}

.card-3 {
    background-image: url('../images/card-3.png');
    background-position: 72%;
}

.images-container {
    display: flex;
    gap: 30px;
}

.number-card {
    width: 76px;
    height: 76px;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 50%;
    padding: 25px;
    font-size: 20px;
    z-index: 4;
}

.advantages-info {
    color: #fff;
    font-size: 36px;
    z-index: 4;
}

.overlay-radial {
    background-color: #0C47A0;
}

.our-offers-container {
    display: flex;
    gap: 460px;
    align-items: center;
}

.offers-main {
    font-size: 74px;
    font-weight: 400;
}

.add-info-text {
    font-size: 18px;
}

.offers-company {
    display: flex;
    gap: 45px;
}

.card-offer {
    width: 407px;
    height: 444px;
    border-radius: 33px;
    background-color: var(--offers-info-background);
    padding: 37px 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.our-offers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-icon {
    width: 18px;
    height: 16px;
}

.small-icon-container {
    border-radius: 50%;
    border: solid  var(--main-text-color) 1px;
    width: 30px;
    height: 30px;
    display: flex;
    padding-top: 5px;
    align-content: center;
    justify-content: center;
}

.arrow-icon {
    width: 60px;
}

.property {
    border: 1px solid var(--main-text-color);
    border-radius: 16px;
    padding: 4px 10px;
    height: fit-content;
}

.add-info-container {
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 36px;
    color: var(--main-text-color);
}

.number-offer {
    font-size: 158px;
    color: var(--main-text-color)
}

.offer-info-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.property-container {
    display: flex;
    gap: 5px;
}

.description {
    font-size: 18px;
    color: var(--paragraph-text-color);
}
.sale {
    width: 1312px;
    height: 546px;
    background-image: url('../images/background-sale.png');
    border-radius: 33px;
    padding: 30px;
    margin-bottom: 40px;
}

.sale-main-text {
    font-size: 52px;
    color: #fff;
}

.add-info-sale {
    font-size: 20px;
    color: #fff;
}

.get-sale {
    background-color: #fff;
    color: var(--main-text-color);
}

.main-info-sale {
    display: flex;
    flex-direction: column;
    gap: 27px;
    /* ?????? я не хочу gap */
}

.text-sale {
    color: var(--paragraph-text-color);
}

.time {
    display: flex;
}

.blue-gradient {
    background: linear-gradient(to right, #0C47A0, #8FECFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 128px;
}
